button{

    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50px;
    color: rgb(49, 5, 90);
    border: 1px solid violet;
}
button:hover{
    background-color:rgb(49, 5, 90); ;
    color: white ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(158, 10, 10, 0.19);
}